/* INÍCIO DA HEADER */
body {
    font-family: "Roboto Condensed";
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #252525;
}

body::-webkit-scrollbar-thumb {
	background: #FFC805;
}

.nome_pokemon {
    background-color: #fff;
    border-radius: 20px;
    color: #353535;
    width: 70%;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-size: 22px;
    /* position: fixed; */
    width: 100%;
    height: 104px;
    /* background-color: #88E271; */
    background-color: #8B4EBB;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid #6b3892;
}

.container {
    width: 1065px;
    height: 104px;
    margin: 0px 130px;
    display: flex;
    align-items: center;
    /* background-color: #E06BA3; */
    background-color: #8B4EBB;
}

.logo {
    height: 80px;
}

/* Estilo para a tag <nav> inteira */
.nav {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.container a {
    text-decoration: none;
    padding: 0px;
    color: white;
    width: 60.47px;
    height: 80px;
}

li {
    list-style: none;
}

ul {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
}

.div_botoes {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 45px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 5px 15px;
}

.button_usuario {
    background-color: #B076DE;
    font-weight: normal;
    outline: none;
}

.button_logout {
    background-color: #FFC805;
    outline: none;
}

/* FIM DA HEADER */

/* COMEÇO DO EFEITO DE HOVER */

.inicio:hover, .regiao:hover, .eventos:hover, .pokedex:hover {
    font-weight: bold;
    box-shadow: 0 0 3pt 1pt white;
    padding: 5px 15px;
    border-radius: 12px;
    background-color: #7434A6;
}

.button_usuario:hover {
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.button_logout:hover {
    box-shadow: 0 0 3pt 2pt #353535;
    border-radius: 12px;
    cursor: pointer;
}

/* FIM DO EFEITO DE HOVER */

/* COMEÇO DO BODY */

.conteudo_pai {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-image: url("../img/misc/fundo_historia_ajustado.png");
    background-repeat: repeat-y;
    background-size: 1366px; */
    /* background: url(../img/misc/fundoFossil_ajustado.png) center center; */
    background: url(../img/misc/fundoCidades_ajustado.png) center center;
    background-position: center top;
    background-repeat: repeat;
    /* background-size: cover; */
}

.conteudo {
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url("../img/misc/fundoHistory1.png"); */
    background-repeat: no-repeat;
}

.conteudo img {
    height: 220px;
}

.capa {
    width: 100%;
    height: 96px;
    border-top: 10.5px solid #B28D06;
    border-bottom: 10.5px solid #B28D06;
    background-color: #FFC805;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* INÍCIO DO CONTEÚDO 1 */

.conteudo1 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory2.png"); */
    background-repeat: no-repeat;
    color: #ffffff;
}

.container_conteudo1 {
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo1_metade_1 {
    font-family: "Roboto";
    width: 50%;
    height: 100%;
    font-size: 22px;
    /* color: #181818; */
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
}

.conteudo1_metade_2 {
    width: 50%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    /* color: #353535; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    background-color: salmon;
}

/* INÍCIO DO CARD */

.cardGeral {
    width: 380px;
    height: 340px;
    background: #FFC805;
    position: relative;
    display: flex;
    justify-content: center;
}

.cardTras {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 360px;
    height: 310px;
    border-radius: 25px;
    background-color: #ffffff;
    transition: 0.3s;
}

.cardFrente {
    position: absolute;
    z-index: 1;
    height: 320px;
    border-radius: 25px;
    transition: 0.5s;
}

.filhoTras1 {
    height: 43%;
    width: 50%;
    margin-left: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s ease-out;
}

.filhoTras2 {
    font-family: "Roboto";
    height: 37%;
    width: 88%;
    margin-left: 6%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 100;
    /* font-weight: bold; */
    font-size: 18px;
    line-height: 25px;
    color: white;
    transition: .6 ease-out;
}

.filhoTras3 {
    height: 14%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filhoTras3 span {
    padding: 5px 15px;
    background-color:#ffffff;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.3s ease-out;
}

/* FIM DO CARD */

/* ------ INÍCIO DO EFEITO HOVER ------ */

.cardGeral:hover img {
    height: 160px;
    border-radius: 15px;
    box-shadow: 0 0 3pt 1.5pt rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    transform: translateY(0%) translateX(-50%);
}

.cardGeral:hover .cardTras {
    box-shadow: 0 0 3pt 4pt rgba(0, 0, 0, 0.3);
    background-color: #353535;
    transition: background-color .3s ease-in;
}

.cardGeral:hover .filhoTras1 {
    color: #FFC805;
    transition: color .3s ease-in;
}

.cardGeral:hover span {
    background-color: #7434A6;
    transition: background-color .3s ease-in;
}

/* ------ FIM DO EFEITO HOVER ------ */

/* FIM DO CONTEÚDO 1 */

/* INÍCIO DO FOOTER */

footer {
    height: 104px;
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
}

.container_footer {
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer_logo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.footer_logo img {
    margin-right: 3%;
}

.footer_social {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.footer_social img {
    height: 50px;
}

.logo {
    height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

/* FIM DO FOOTER */

/* FIM DO BODY */