/* INÍCIO DO BODY */

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #252525;
}

body::-webkit-scrollbar-thumb {
	background: #FFC805;
}

span {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
    color: #353535;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.conteudo_pai {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-image: url("../img/misc/fundo_historia_ajustado.png");
    background-repeat: repeat-y;
    background-size: 1366px; */
    /* background: url(../img/misc/fundoFossil_ajustado.png) center center; */
    background: url(../img/misc/fundoEventos_ajustado.png) center center;
    background-position: center top;
    background-repeat: repeat;
    /* background-size: cover; */
}

.conteudo {
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url("../img/misc/fundoHistory1.png"); */
    background-repeat: no-repeat;
}

.conteudo img {
    height: 220px;
}

.capa {
    width: 100%;
    height: 96px;
    border-top: 10.5px solid #B28D06;
    border-bottom: 10.5px solid #B28D06;
    background-color: #FFC805;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* INÍCIO DO CONTEÚDO 1 */

.conteudo1 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory2.png"); */
    background-repeat: no-repeat;
    color: #ffffff;
}

.container_conteudo1 {
    width: 1065px;
    height: 100%;
}

.conteudo1_cima {
    width: 100%;
    height: 15%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: #FFC805;
    /* background-color: lightblue; */
}

.conteudo1_metade_1 {
    font-family: "Roboto Condensed";
    width: 45%;
    height: 85%;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    /* color: #353535; */
    float: left;
    display: flex;
    align-items: center;
    /* background-color: salmon; */
}

.insignias_geral {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.conteudo1_metade_2 {
    font-family: "Roboto";
    width: 45%;
    height: 85%;
    margin-left: 7%;
    font-size: 22px;
    text-align: right;
    /* color: #181818; */
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    /* background-color: yellowgreen; */
}

.conteudo1_metade_2 img {
    height: 320px;
    margin-bottom: 15px;
}

.insignias {
    width: 425px;
    height: 230px;
    background: rgba(53, 53, 53, 0.75);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.insignias img {
    height: 95px;
}

/* FIM DO CONTEÚDO 1 */

/* INÍCIO DO CONTEÚDO 2 */

.conteudo2 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory3.png"); */
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.container_conteudo2 {
    width: 1065px;
    height: 100%;
}

.conteudo2_cima {
    width: 100%;
    height: 15%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: #FFC805;
}

.conteudo2_metade_1 {
    font-family: "Roboto Condensed";
    width: 80%;
    height: 75%;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.conteudo2_metade_2 {
    font-family: "Roboto Condensed";
    width: 20%;
    height: 75%;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

@keyframes vibrar {
    0% { transform: translate(1px, 1px) rotate(0deg) }
    /* 10% { transform: translate(2px, 2px) rotate(-1deg) }
    20% { transform: translate(3px, 3px) rotate(1deg) } */
    25% { transform: translate(2px, 2px) rotate(-10deg) }
    /* 30% { transform: translate(4px, 4px) rotate(0deg) }
    40% { transform: translate(5px, 5px) rotate(1deg) } */
    50% { transform: translate(4px, 4px) rotate(0deg) }
    /* 60% { transform: translate(3px, 3px) rotate(0deg) }
    70% { transform: translate(2px, 2px) rotate(-1deg) } */
    75% { transform: translate(2px, 2px) rotate(10deg) }
    /* 80% { transform: translate(1px, 1px) rotate(1deg) }
    90% { transform: translate(2px, 2px) rotate(0deg) } */
}

.roxanne:hover {
    animation: vibrar .3s step-end infinite alternate;
}

.time_ginasio {
    width: 30%;
    height: 50%;
    border-radius: 25px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gif_pokemon {
    height: 100px;
}

.tipo_rock_flying {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    background: linear-gradient(to right, #E0D3B0 0%, #E0D3B0 50%, #AEC3F1 50%, #AEC3F1 100%);
    width: 90%;
    height: 40px;
    color: #353535;
    border-radius: 20px;
}

.tipo_rock_flying img:last-child{
    margin-left: 15px;
}

.img_um_tipo {
    height: 50px;
    width: 50px;
}

.img_dois_tipos {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.tipo_rock_ground {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    background: linear-gradient(to right, #E0D3B0 0%, #E0D3B0 50%, #EDAE8E 50%, #EDAE8E 100%);
    width: 90%;
    height: 40px;
    color: #353535;
    border-radius: 20px;
}

.tipo_rock_ground img:last-child{
    margin-left: 20px;
}

.tipo_rock_water {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #E0D3B0 0%, #E0D3B0 50%, #87C2FF 50%, #87C2FF 100%);
    width: 90%;
    height: 40px;
    color: #353535;
    border-radius: 20px;
}

.tipo_rock_water img:last-child {
    margin-left: 15px;
}

.tipo_steel_ground {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #89BFD3 0%, #89BFD3 50%, #EDAE8E 50%, #EDAE8E 100%);
    width: 90%;
    height: 40px;
    color: #353535;
    border-radius: 20px;
}

.tipo_steel_ground img:last-child {
    margin-left: 20px;
}

.tipo_steel_ground .img_dois_tipos {
    margin-left: 20px;
    /* height: 25px; */
}

.tipo_rock {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0D3B0;
    width: 90%;
    height: 40px;
    color: #353535;
    border-radius: 20px;
}

/* FIM DO CONTEÚDO 2 */

/* INÍCIO DO CONTEÚDO 3 */

.conteudo3 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory3.png"); */
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.container_conteudo3 {
    width: 1065px;
    height: 100%;
}

.conteudo3_cima {
    width: 100%;
    height: 15%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: #FFC805;
}

.conteudo3_metade_1 {
    font-family: "Roboto Condensed";
    width: 20%;
    height: 75%;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.conteudo3_metade_2 {
    font-family: "Roboto Condensed";
    width: 80%;
    height: 75%;
    font-size: 18px;
    font-weight: bold;
    color: #353535;
    text-shadow: 0 0 5px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

@keyframes pular {
    0% { transform: translate(1px, 1px) translateY(-10px) rotate(0deg) }
    /* 10% { transform: translate(2px, 2px) rotate(-1deg) }
    20% { transform: translate(3px, 3px) rotate(1deg) } */
    25% { transform: translate(2px, 2px) translateY(-20px) rotate(-5deg) }
    /* 30% { transform: translate(4px, 4px) rotate(0deg) }
    40% { transform: translate(5px, 5px) rotate(1deg) } */
    50% { transform: translate(10px, 10px) translateY(-35px) rotate(0deg) }
    /* 60% { transform: translate(3px, 3px) rotate(0deg) }
    70% { transform: translate(2px, 2px) rotate(-1deg) } */
    75% { transform: translate(2px, 2px) translateY(-20px) rotate(5deg) }
    /* 80% { transform: translate(1px, 1px) rotate(1deg) }
    90% { transform: translate(2px, 2px) rotate(0deg) } */
}

.brawly:hover {
    animation: pular .3s step-end infinite alternate;
}

.tipo_fighting {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EF7A9B;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    color: #353535;
}

.tipo_fighting_psychic {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #EF7A9B 0%, #EF7A9B 50%, #FFB6B8 50%, #FFB6B8 100%);
    width: 90%;
    height: 40px;
    border-radius: 20px;
}

.tipo_fighting_psychic img:last-child {
    margin-left: 0;
}

.tipo_fighting_psychic .img_dois_tipos {
    margin-left: 2px;
}

/* FIM DO CONTEÚDO 3 */

/* INÍCIO DO CONTEÚDO 4 */

.conteudo4 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory3.png"); */
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.container_conteudo4 {
    width: 1065px;
    height: 100%;
}

.conteudo4_cima {
    width: 100%;
    height: 15%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: #FFC805;
}

.conteudo4_metade_1 {
    font-family: "Roboto Condensed";
    width: 80%;
    height: 75%;
    font-size: 18px;
    font-weight: bold;
    color: #353535;
    text-shadow: 0 0 5px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.conteudo4_metade_2 {
    font-family: "Roboto Condensed";
    width: 20%;
    height: 75%;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.wattson:hover {
    animation: vibrar .3s step-end infinite alternate;
}

/* FIM DO CONTEÚDO 4 */

/* INÍCIO DO CONTEÚDO 5 */

.conteudo5 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory6.png"); */
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.container_conteudo5 {
    width: 1065px;
    height: 100%;
}

.conteudo5_cima {
    width: 100%;
    height: 15%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    /* color: #353535; */
    /* background-color: lightblue; */
}

.conteudo5_metade_1 {
    font-family: "Roboto";
    width: 50%;
    height: 75%;
    font-size: 18px;
    font-weight: bold;
    /* color: #353535; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    /* background-color: yellowgreen; */
}

.conteudo5_metade_1 img {
    margin-bottom: 15px;
    height: 400px;
}

.conteudo5_metade_2 {
    width: 40%;
    height: 75%;
    font-size: 22px;
    /* color: #181818; */
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    /* background-color: salmon; */
}

/* FIM DO CONTEÚDO 5 */

/* FIM DO BODY */