/* INÍCIO DO FOOTER */

footer {
    font-size: 16px;
    height: 60px;
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
}

.container_footer {
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer_logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
}

.footer_logo img {
    margin-right: 3%;
    height: 50px;
}

.amor {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.amor img {
    margin: 0 5px;
}

.amor b {
    color: #FFC805;
    margin: 0 5px;
}

.footer_social {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: white;
}

.footer_social img {
    height: 25px;
}

.logo {
    height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

/* FIM DO FOOTER */