/* INÍCIO DA HEADER */

.header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-size: 20px;
    width: 100%;
    height: 70px;
    background-color: #8B4EBB;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid #6b3892;
}

.container {
    width: 1065px;
    height: 100%;
    margin: 0px 130px;
    display: flex;
    align-items: center;
    background-color: #8B4EBB;
}

.container .logo {
    height: 65px;
}

/* Estilo para a tag <nav> inteira */
.nav {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.container a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.header a {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 5px 15px;
}

ul {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
}

.div_botoes {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.div_botoes button {
    height: 45px;
    font-family: "Roboto Condensed";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
}

.button_usuario {
    background-color: #B076DE;
    font-weight: normal;
    outline: none;
}

.button_logout {
    background-color: #FFC805;
    outline: none;
}

/* COMEÇO DO EFEITO DE HOVER */

li:hover {
    font-weight: bold;
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    background-color: #7434A6;
    cursor: pointer;
}

.button_usuario:hover {
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.button_logout:hover {
    box-shadow: 0 0 3pt 2pt #353535;
    border-radius: 12px;
    cursor: pointer;
}

/* FIM DO EFEITO DE HOVER */

/* FIM DA HEADER */