/* INÍCIO DO BODY */

/* INÍCIO DA HEADER */

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #252525;
}

body::-webkit-scrollbar-thumb {
	background: #FFC805;
}

.header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-size: 20px;
    /* position: fixed; */
    width: 100%;
    height: 70px;
    /* background-color: #88E271; */
    background-color: #8B4EBB;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid #6b3892;
}

.container {
    width: 1065px;
    height: 100%;
    margin: 0px 130px;
    display: flex;
    align-items: center;
    /* background-color: #E06BA3; */
    background-color: #8B4EBB;
}

.container .logo {
    height: 65px;
}

/* Estilo para a tag <nav> inteira */
.nav {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}


li {
    list-style: none;
    padding: 5px 15px;
}

.div_botoes {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

button {
    display: flex;
    align-items: center;
    height: 45px;
    font-family: "Roboto Condensed";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 15px;
    text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
}

.div_botoes button {
    margin-left: 10px;
}

.button_login {
    background-color: #FFE485;
    outline: none;
}

.button_cadastro, .button_cadastroGrande {
    background-color: #FFC805;
    outline: none;
}

/* COMEÇO DO EFEITO DE HOVER */
/* 
li:hover {
    font-weight: bold;
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    background-color: #7434A6;
} */

.button_login:hover, .button_cadastro:hover {
    /* border: 1px solid white; */
    /* outline: 1px solid white; */
    box-shadow: 0 0 3pt 2pt #353535;
    border-radius: 12px;
    cursor: pointer;
}

.button_cadastroGrande:hover {
    box-shadow: 0 0 3pt 2pt white;
    border-radius: 12px;
    cursor: pointer; 
}

/* FIM DO EFEITO DE HOVER */

/* FIM DA HEADER */

.conteudo1 {
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    background-image: url("../img/misc/hoennMapSmall.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_conteudo1 {
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo1_metade_1 {
    width: 60%;
    height: 100%;
    font-size: 64px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellowgreen; */
}

.button_cadastroGrande {
    padding: 10px 25px;
    margin-top: -70px;
}

.conteudo1_metade_2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: salmon; */
}

.conteudo2 {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    background-color: #353535;
    color: white;
    border-top: 25px solid rgba(255, 255, 255, 0.1);
}

.container_conteudo2 {
    width: 1065px;
    height: 100%;
}

.conteudo2_cima {
    width: 100%;
    height: 30%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    /* color: #8B4EBB; */
}

.conteudo2_metade_1 {
    width: 60%;
    height: 65%;
    font-size: 64px;
    font-weight: bold;
    color: white;
    float: left;
    /* background-color: yellowgreen; */
}

.conteudo2_metade_2 {
    width: 40%;
    height: 70%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: salmon; */
}

ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

li { 
    font-weight: bold;
    font-size: 30px;
    color: white;
    list-style-image: url(../img/misc/bullet_yellow.png); 
    /* list-style: none; */
}

.conteudo3 {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    background-color: #8B4EBB;
    border-top: 25px solid #6b3892;
}

.container_conteudo3 {
    width: 1065px;
    height: 100%;
}

.conteudo3_cima {
    width: 100%;
    height: 15%;
    margin-top: 3%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: white;
}

.conteudo3_metade_1 {
    width: 40%;
    height: 83%;
    font-size: 22px;
    font-weight: bold;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: yellowgreen; */
}

.eu {
    margin-bottom: 10px;
}

.conteudo3_metade_2 {
    width: 60%;
    height: 83%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
    line-height: 45px;
    /* background-color: salmon; */
}

/* FIM DO BODY */