/* INÍCIO DO BODY */

/* INÍCIO DA HEADER */

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #252525;
}

body::-webkit-scrollbar-thumb {
	background: #FFC805;
}

.header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-size: 22px;
    /* position: fixed; */
    width: 100%;
    height: 70px;
    /* background-color: #88E271; */
    background-color: #8B4EBB;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid #6b3892;
}

.container {
    width: 1065px;
    height: 100%;
    margin: 0px 130px;
    display: flex;
    align-items: center;
    /* background-color: #E06BA3; */
    background-color: #8B4EBB;
}

.container .logo {
    height: 65px;
}

/* Estilo para a tag <nav> inteira */
.nav {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}


li {
    list-style: none;
    padding: 5px 15px;
}

.div_botoes {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

button {
    font-family: "Roboto Condensed";
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 5px 15px;
}

.div_botoes button {
    margin-left: 10px;
}

.button_login {
    background-color: #FFE485;
    outline: none;
}

.button_cadastro, .button_cadastroGrande {
    background-color: #FFC805;
    outline: none;
}

/* COMEÇO DO EFEITO DE HOVER */

li:hover {
    font-weight: bold;
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    background-color: #7434A6;
}

.button_login:hover, .button_cadastro:hover {
    /* border: 1px solid white; */
    /* outline: 1px solid white; */
    box-shadow: 0 0 3pt 2pt #353535;
    border-radius: 12px;
    cursor: pointer;
}

.button_cadastroGrande:hover {
    box-shadow: 0 0 3pt 2pt white;
    border-radius: 12px;
    cursor: pointer; 
}

/* FIM DO EFEITO DE HOVER */

/* FIM DA HEADER */

.conteudo1 {
    width: 100%;
    height: 492px;
    display: flex;
    justify-content: center;
    background-image: url("../img/misc/fundoLoginCadastro_ajustado.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_conteudo1 {
    font-family: "Roboto Condensed";
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo1_metade_1 {
    font-family: "Roboto";
    width: 40%;
    height: 65%;
    font-size: 64px;
    line-height: 75px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellowgreen; */
}

.pokebolas {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

input {
    font-family: "Roboto";
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

input:focus {
    box-shadow: 0 0 1pt 1pt #FFC805;
    outline: none;
}

.conteudo1_metade_2 input {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 100%;
}

.button_cadastroGrande {
    padding: 10px 25px;
}

.conteudo1_metade_2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFC805;
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: salmon; */
}

.entradas {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.botao {
    display: flex;
    justify-content: center;
}

ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

/* FIM DO BODY */

/* FIM DO BODY */