/* INÍCIO DA HEADER */
body {
    font-family: "Roboto Condensed";
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #252525;
}

body::-webkit-scrollbar-thumb {
	background: #FFC805;
}

.nome_pokemon {
    background-color: #fff;
    border-radius: 20px;
    color: #353535;
    width: 70%;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-size: 22px;
    /* position: fixed; */
    width: 100%;
    height: 104px;
    /* background-color: #88E271; */
    background-color: #8B4EBB;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid #6b3892;
}

.container {
    width: 1065px;
    height: 104px;
    margin: 0px 130px;
    display: flex;
    align-items: center;
    /* background-color: #E06BA3; */
    background-color: #8B4EBB;
}

.logo {
    height: 80px;
}

/* Estilo para a tag <nav> inteira */
.nav {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.container a {
    text-decoration: none;
    padding: 0px;
    color: white;
    width: 60.47px;
    height: 80px;
}

li {
    list-style: none;
    padding: 5px 15px;
}

ul {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
}

.div_botoes {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 45px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 5px 15px;
}

.button_usuario {
    background-color: #B076DE;
    font-weight: normal;
    outline: none;
}

.button_logout {
    background-color: #FFC805;
    outline: none;
}

/* FIM DA HEADER */

/* COMEÇO DO EFEITO DE HOVER */

li:hover {
    font-weight: bold;
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    background-color: #7434A6;
}

.button_usuario:hover {
    box-shadow: 0 0 3pt 1pt white;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.button_logout:hover {
    box-shadow: 0 0 3pt 2pt #353535;
    border-radius: 12px;
    cursor: pointer;
}

/* FIM DO EFEITO DE HOVER */

/* COMEÇO DO BODY */

.conteudo_pai {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-image: url("../img/misc/fundo_historia_ajustado.png");
    background-repeat: repeat-y;
    background-size: 1366px; */
    /* background: url(../img/misc/fundoFossil_ajustado.png) center center; */
    background: url(../img/misc/fundoCidades_ajustado.png) center center;
    background-position: center top;
    background-repeat: repeat;
    /* background-size: cover; */
}

.conteudo {
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url("../img/misc/fundoHistory1.png"); */
    background-repeat: no-repeat;
}

.conteudo img {
    height: 220px;
}

.capa {
    width: 100%;
    height: 96px;
    border-top: 10.5px solid #B28D06;
    border-bottom: 10.5px solid #B28D06;
    background-color: #FFC805;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* INÍCIO DO CONTEÚDO 1 */

.conteudo1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-image: url("../img/misc/fundoHistory2.png"); */
    background-repeat: no-repeat;
    color: #ffffff;
}

.container_conteudo1 {
    width: 1065px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo1_pt1 {
    font-family: "Roboto";
    width: 100%;
    height: 595px;
    /* color: #181818; */
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellowgreen; */
}

/* INÍCIO DO CARD */

.cardGeral {
    width: 400px;
    height: 500px;
    /* background: #FFC805; */
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    border-radius: 35px;
}

.cardFrente {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    transition: 0.5s;
}

.cardTras {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 550px;
    opacity: 0;
    height: 100%;
    color: #353535;
    /* border: 1pt solid #FFC805; */
    border-radius: 0 35px 35px 0;
    /* border-radius: 35px; */
    background-color: #353535;
    transition: all 0.3s ease-out;
}

.cardTras1 {
    height: 35%;
    width: 95%;
    margin-left: 5%;
    border-radius: 0 35px 0 0;
    background-color: #353535;
    display: flex;
    /* flex-direction: column; */
    font-family: "Roboto Condensed";
    /* justify-content: center; */
    /* color: #ffffff; */
    transition: 0.3s ease-out;
}

.esquerda {
    /* background-color: salmon; */
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.direita {
    /* background-color: #202020; */
    color: #FFC805;
    height: 100%;
    width: 35%;
    margin-left: 3%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.direta img {
    max-height: 100px;
}

.tras1_filho1 {
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFC805;
}

.tras1_filho2 {
    display: flex;
    align-items: center;
    height: 60%;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.cardTras2 {
    font-family: "Roboto Condensed";
    height: 65%;
    width: 95%;
    margin-left: 5%;
    border-radius: 0 0 35px 0;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 100;
    /* font-weight: bold; */
    font-size: 16px;
    line-height: 25px;
    /* color: white; */
    transition: .5 ease-out;
}

.tras2_filho1 {
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #FFC805;
    background-color: #353535;
}

.tras2_filho2 {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fileira1, .fileira2, .fileira3, .fileira4, .fileira5, .fileira6 {
    height: 35px;
    width: 100%;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #353535;
    border-radius: 0 0 35px 0;
}

.fileira1, .fileira3, .fileira5 {
    margin-top: 1.5%;
}

.fileira2, .fileira4, .fileira6 {
    margin-bottom: 1.5%;
}

.item {
    height: 35px;
    width: 35px;
}

.item img {
    height: 100%;
    width: 100%;
}

.descricao {
    height: 35px;
    width: 40px;
    font-size: 12px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardTras1 img {
    max-height: 80px;
}
/* FIM DO CARD */

/* ------ INÍCIO DO EFEITO HOVER ------ */

.cardGeral:hover .cardFrente {
    border-radius: 35px 0px 0px 35px;
    box-shadow: 0 0 2.5pt 1.5pt rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    transform: translateX(-55%);
    border: 1pt solid #fdef25;
}

.cardGeral:hover .cardTras {
    box-shadow: 0 0 2.5pt 1.5pt rgba(255, 255, 255, 0.2);
    opacity: 1;
    transition: all 0.4s ease-in;
    transform: translateX(45%);
}

/* ------ FIM DO EFEITO HOVER ------ */

/* FIM DO CONTEÚDO 1 */

/* INÍCIO DO FOOTER */

footer {
    height: 104px;
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
}

.container_footer {
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer_logo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.footer_logo img {
    margin-right: 3%;
}

.footer_social {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.footer_social img {
    height: 50px;
}

.logo {
    height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

/* FIM DO FOOTER */

/* FIM DO BODY */