/* INÍCIO DO FOOTER */

footer {
    font-size: 16px;
    height: 60px;
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed";
}

.container_footer {
    width: 1065px;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer_logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.footer_logo img {
    margin-right: 5%;
    height: 50px;
}

.amor {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.amor img {
    margin: 0 5px;
    filter: sepia() saturate(1000%);
}

.amor b {
    color: #FFC805;
    margin: 0 5px;
}

.footer_social {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.footer_social img {
    height: 25px;
}

.footer_social a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.footer_social:hover img {
    cursor: pointer;
}

.footer_social:hover span {
    cursor: pointer;
}

/* FIM DO FOOTER */